### Python_Programming_Assignment_23

#### Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(n):
  if str(n) == str(n)[::-1]:
    return True
  else:
    return False

is_symmetrical(1112111)

True

#### Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [ ]:
def multiply_nums(n):
  number_list = n.split(',')
  #number_list = [int(i) for i in number_list]
  prod = 1
  for i in number_list:
    prod = prod*int(i)
  return prod

multiply_nums("10, -2")

-20

#### Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [ ]:
def square_digits(n):
  m = []
  for i in str(n):
    m.append(str(int(i) * int(i)))
  return int("".join(m))

square_digits(3212)

9414

#### Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
def setify(n):
  n = list(set(n))
  n.sort()
  return n

setify([3, 3, 3, 2, 1])

[1, 2, 3]

#### Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [ ]:
def mean(n):
  s=0
  for i in str(n):
    s=s+int(i)
  return int(s/len(str(n)))

mean(666)

6